.processed
{
    background-image: url('../img/check.png');
    background-repeat: no-repeat;
    background-size: 25px 22px;
    padding-left: 30px;
    display: block;
}

.missinginfo
{
    background-image: url('../img/warn.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    display: block;
    color: orangered;
}

.edited
{
    background-image: url('../img/edit.png');
    background-repeat: no-repeat;
    background-size: 26px 26px;
    padding-left: 30px;
    display: block;
    color: forestgreen;
}

.found
{
    background-image: url('../img/found.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    display: block;
    color: darkgreen;
}

.evenrow
{
    background-color: #fafafa;
}

.oddrow
{
    margin-top: 5px;
    background-color: #d9d9d9;
    margin-bottom: 5px;
}

.filename
{
    color: black;
    font-weight: normal;
    float: right;
}

.markedepisode
{
    border: 2px solid teal;
}