.processed
{
    background-image: url('../img/check.png');
    background-repeat: no-repeat;
    background-size: 25px 22px;
    padding-left: 30px;
    display: block;
}

.missinginfo
{
    background-image: url('../img/warn.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    display: block;
}

.edited
{
    background-image: url('../img/edit.png');
    background-repeat: no-repeat;
    background-size: 26px 26px;
    padding-left: 30px;
    display: block;
}

.found
{
    background-image: url('../img/found.png');
    background-repeat: no-repeat;
    padding-left: 30px;
    display: block;
}